.Chat-main
  .Chat-main__group-info
    .left-header
      .group-name
        = @group.name
      .member-name
        Menber:
        - @group.users.each do |user|
          = user.name
    .right-header
      .edit-btn
        = link_to edit_group_path(@group.id), class: 'btn' do
          Edit
  .Chat-main__message-list
    = render @messages
    
  .Chat-main__message-form
    .new__message
      = form_with model: [@group, @message], html: {class: "input-box"}, local: true do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = icon('far', 'image', class: 'input-box__icon')
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'input-box__submit-btn'

    -#   .Chat-main__message-form
    -# %form.new__message
    -#   .input-box
    -#     %input{type: "text", class: "input-box__text", placeholder: "type a message"}
    -#     %label{class: "input-box__image"}
    -#       = icon('fas', 'image')
    -#       %input{type: "file", class: "input-box__image__file"}
    -#   %input{type: "submit", class: "submit-btn"}